h1{
    color: #D2691E;
    font-size: 350%;
}
h2{
    font-size: 200%;
}
h3{
    font-size: 180%;
}

body{
    background-color: beige;
}

p.image-vw img{
    width: 900px;
}
p.image-vw1 img{
    width: 1100px;
}
p.image-vw2 img{
    width: 1100px;
}
p.image-vw3 img{
    width: 1100px;
}